<template name="Diff">
    <div class="container-fluid">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-spinner fa-spin fa-fw" id = "formSpinner"></i>Comparative statistical report</h3>
                </div>
                <div class="panel-body">
                    {{#autoForm schema=diffSchema id="diffForm"}}
                        {{> afQuickField name="alphaTitle" defaultValue="Data set Alpha"}}
                        {{> afQuickField name="alphaDescription" defaultValue="Description of the data set Alpha"}}
                        {{> afQuickField id="alphaFile" name="alphaFile" type="file"}}
                        {{> afQuickField name="alphaFilePath" value = currentAlphaFilePath type="hidden"}}

                        {{> afQuickField name="betaTitle" defaultValue="Data set Beta"}}
                        {{> afQuickField name="betaDescription" defaultValue="Description of the data set Beta"}}
                        {{> afQuickField id="betaFile" name="betaFile" type="file"}}
                        {{> afQuickField name="betaFilePath" value = currentBetaFilePath type="hidden"}}
                        {{> warningWait }}
                        <button id="formSubmitButton" type="submit" class="btn btn-primary center-block">Generate Report</button>
                    {{/autoForm}}
                </div>
            </div>
            {{#if reportReference}}
                <div class="panel panel-primary">
                    <div class="panel-body">
                        The Report is available at this
                        <a class="alert-link" id="report-link"
                           href="{{reportReference.link}}?download=true"
                           download="{{reportReference.name}}" target="_blank">
                            {{reportReference.name}}</a>.
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</template>
