extends layout

block content
    .container
        .row
            .col-md-10.col-md-offset-1

                //.page-header Account Login
                form(method="post" action="/users/login")
                    .form-group
                        label(for="username") Username
                        input.form-control(type="text" id="username" name="username" placeholder="Username")
                    .form-group
                        label(for="password") Password
                        input.form-control(type="password" id="password" name="password" placeholder="Password")
                    p.buttons.text-center
                        button.btn.btn-primary(type="submit")
                            span.glyphicon.glyphicon-log-in.fa-fw(aria-hidden="true")
                            | Login
        .row
            .col-md-10.col-md-offset-1
                p.buttons.text-center
                    a.btn.btn-link.center-block(href="/users/register",role="button")
                        span.glyphicon.glyphicon-edit.fa-fw(aria-hidden="true")
                        | Create Account


