<template name="Diff">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="panel panel-#{type}">
					<div class="panel-heading">
						<h3 class="panel-title">Descriptive statistical report </h3>
					</div><div class="panel-body">
						<form method="post" id="diff-form">
							<!--progress bar-->
							<div class="progress">
								<div class="progress-bar progress-bar-striped active" id="diff-progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
									<span class="sr-only">0% Complete</span>
								</div>
							</div>
							<!--the result-->
							<div class="alert alert-dismissible alert-info" id="info-bubble" role="alert" hidden="">
								<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
								<button class="close" type="button" data-dismiss="alert" aria-label="Close">
									<span>×</span>
								</button>The Report is available at this
								<a class="alert-link" id="report-link" href="#" target="_blank"> link</a>.
							</div>
							<div class="alert alert-dismissible alert-danger" id="error-bubble" role="alert" hidden="">
								<span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
								<button class="close" type="button" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true"> ×</span>
								</button>There was an error while processing your request, please try again.
							</div>
							<fieldset>
								<div class="form-group">
									<label for="diff-alpha-title">Alpha title</label>
									<input class="form-control" type="text" id="diff-alpha-title" value="Dataset Alpha" name="config[alpha][title]">
								</div>
								<div class="form-group">
									<label for="diff-alpha-description">Alpha description</label>
									<input class="form-control" type="text" id="diff-alpha-description" value="This is a very special dataset." name="config[alpha][description]">
								</div>
								<div class="form-group">
									<label for="diff-alpha">Alpha CSV file (SPARQL query result set)</label>
									<input class="filestyle form-control" type="file" id="diff-alpha" data-buttonname="btn-primary" data-placeholder="No file" data-buttontext="Select File" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);">
									<div class="bootstrap-filestyle input-group">
										<input type="text" class="form-control " placeholder="No file" disabled="">
										<span class="group-span-filestyle input-group-btn" tabindex="0">
											<label for="diff-alpha" class="btn btn-primary ">
												<span class="icon-span-filestyle glyphicon glyphicon-folder-open"></span>
												<span class="buttonText">Select File</span>
											</label>
										</span>
									</div>
								</div>
								<div class="form-group">
									<label for="diff-beta-title">Beta title</label>
									<input class="form-control" type="text" id="diff-beta-title" value="Dataset Beta" name="config[beta][title]">
								</div>
								<div class="form-group">
									<label for="diff-beta-description">Beta description</label>
									<input class="form-control" type="text" id="diff-beta-description" value="This is a very special dataset that is compared to the first one." name="config[beta][description]">
								</div>
								<div class="form-group">
									<label for="diff-beta">Beta CSV file (SPARQL query result set)</label>
									<input class="filestyle form-control" type="file" id="diff-beta" data-buttonname="btn-primary" data-placeholder="No file" data-buttontext="Select File" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);">
									<div class="bootstrap-filestyle input-group">
										<input type="text" class="form-control " placeholder="No file" disabled="">
										<span class="group-span-filestyle input-group-btn" tabindex="0">
											<label for="diff-beta" class="btn btn-primary ">
												<span class="icon-span-filestyle glyphicon glyphicon-folder-open"></span>
												<span class="buttonText">Select File</span>
											</label>
										</span>
									</div>
								</div>
							</fieldset>
							<p class="buttons text-center">
								<button class="btn btn-primary" type="button" id="generate-diff">Generate report</button>
							</p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
